<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mradula's Blog site</title>
</head>

<body>
    <header>
        <h1><a href="/">Django lesson</a></h1>
    </header>

    <article>
        <time>published: 27 May 2024</time>
        <h2><a href="">My First post</a></h2>
        <p>This is a blog site, meant for learning purpose.</p>
    </article>

    <article>
        <time>published: 27 May 2024</time>
        <h2><a href="">My Second post</a></h2>
        <p>This is a blog site, meant for learning purpose.</p>
    </article>

</body>

</html>